@model Web.Models.ResourceViewModel

@{
    ViewBag.Title = "DetailResource";
}

<h2>DetailResource</h2>

<div>
    <h4>ResourceViewModel</h4>
    <hr />

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.seniority)
        </dt>


        <dd>
            @Html.DisplayFor(model => model.lastname)
        </dd>



    </dl>
</div>

